.home-page {
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Merriweather", serif;
}

.home-page-cards {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

.home-card {
  background: #ffad01;
  display: grid;
  padding-left: 100px;
  padding-right: 50px;
  align-content: center;
  border-radius: 10px;
}

.home-card p {
  font-weight: 800;
  color: #e9e2dc;
}

.home-card h1 {
  background: #ffad01;
  letter-spacing: 1px;
  margin: 0;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-gap: 10px;
}

.feature-card {
  background: #006992;
  display: grid;
  padding-left: 50px;
  padding-right: 50px;
  align-content: center;
  border-radius: 10px;
}

.feature-card p {
  font-weight: 100;
}

.feature-card h1 {
  background: #ffad01;
  margin: 0;
}

.feature-card h3 {
  color: #e9e2dc;
}

.home-card-button button {
  background: #ffad01;
  border: 2px solid #e9e2dc;
  border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  padding: 10px 31px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.home-page-movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}

.home-page-movies img {
  display: block;
  margin: auto;
  border-radius: 10px;
}

.home-page-movies p {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1423px) {
  .home-page-cards {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 1423px) {
  .home-card {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1187px) {
  .home-page-cards {
    grid-template-columns: 1fr;
  }

  .home-card {
    grid-template-rows: 50px 80px 60px;
    padding-left: 50px;
  }
}
