.nav-bar {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 200px 2fr auto;
  grid-template-rows: 80px;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 40px;

  /* background: linear-gradient(
    to right,
    rgba(255, 153, 102, 1),
    rgba(255, 94, 98, 1)
  ); */
  background: #f5f3f2;
}

.nav-bar h3 {
  display: inline-block;
  /* align-self: start; */
  background: #ffad01;
  color: black;
  text-transform: uppercase;
  height: 100%;
  margin: 0;
  padding: 25px;
  text-align: center;
  letter-spacing: 1px;
}

.nav-bar-links {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  padding-left: 50px;
}

.nav-bar p:hover {
  color: #ffad01;
  transition: color 0.3s ease-in-out;
}

.nav-bar p {
  margin-bottom: 7px;
  cursor: pointer;
}

.nav-bar-account {
  display: grid;
  grid-template-columns: repeat(2, 150px);
}

.nav-bar button {
  background: #ffad01;
  border: 1px solid black;
  border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  padding: 10px 31px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .nav-bar {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 0;
    justify-content: center;
  }

  .nav-bar-links {
    justify-content: center;
  }
  .nav-bar-account {
    justify-content: center;
  }
}
